 body{
    background-image:url(back.jpg);
    background-repeat: no-repeat;
    background-position:center top ;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF; 
    font-family: 'Raleway', sans-serif;
}

.Foto-principal{
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 50% 10% 30% 70%;
    margin: 30px;
    padding: 7px;
    box-shadow: 10px 10px 30px white;
}

h1{
    margin-top: -2px;
    margin-bottom: 0;
    letter-spacing: -1px;
    color: #FFFFFF;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2{
    margin-top: 0;
    font-style: italic;
    color: #FFFFFF;
    font-weight: 100;
    letter-spacing: -1px;
}

.gray{
    color: #FFFFFF;
}

a{
    color: rgb(167, 89, 89);
}

strong{
    color: rgb(117, 216, 117);
}

i{
    color: rgb(221, 152, 198);
}

em{
    color: rgb(221, 152, 198);
}

h3{
    color: rgba(25, 167, 37, 0.863);
}

li{
    color: #FFFFFF;

}
