body{
    background: #dfdfdf;
}

.blue{
    color: rgba(50, 50, 146, 0.774);
}

.Foto-principal{
    width: 180px;
}

#titulo{
    color: rgb(145, 50, 50);
}

p{
    color: #222222;
}

h3{
    color: rgba(25, 167, 37, 0.863);
}